<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Templates</title>
</head>
<body>
    <div id="container">
        <!-- v-for direktiva, prolazak kroz items niz -->
        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>
    </div>
    <div id="container1">
        <!-- v-for direktiva, prolazak kroz items niz -->
        <ul>
            <li v-for="(value, name, index) in user">{{ index }}. {{ name }} : {{value}}</li>
        </ul>
    </div>



    <script src="vue.js"></script>

    <script>
        var data = { items: ["black","blue","green","yellow"]};
        
        var vm = new Vue({
            el: '#container',
            data: data
       })

        var data1 = {
            user: {
                name: "Ben",
                email: "ben@gmail.com",
                balance: 51234123.142
            }
        }

        var vm = new Vue({
            el: '#container1',
            data: data1
       })

    </script>
  
</body>
</html>